.card{
    width: 21%;
    border: 1px solid #000;
    border-radius: 5px;
    height: 450px;
    padding: 10px;
}


@media screen and (max-width:990px) {
    .card{
        width:40%;
    }
}

@media screen and (max-width:600px) and (min-width:480px) {
    .card{
        width:80%;
    }
}